html, body, head, p, h1, h2{
    margin: 0;
    scroll-behavior: inherit;
}

html, body{
    width: 100%;
}
.App{
    display: flex;
}

#root{
    display: flex;
}

.link{
    text-decoration: none;
    color: black;
}

.contact-button{
    max-width: 400px;
    min-width: 200px;
    height: 70px;
    font-family: 'Abel';
    width: 80%;
}

.MuiSvgIcon-root{
    height: 200px;
}

.roott svg{
    width: 30px;
    height: 30px;
}

.roott{
    background-color: white;
}

.hide-overflow{
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

